@charset "UTF-8";
.shop_top_title {
  height: 80px;
  width: 100%;
  background: url(../image/img_des/greendianzhao_bg@2x.png);
  background-size: 100% 80px;
  color: #435348;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
}
.shop_top_title div {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  margin: auto;
  font-size: 46px;
  overflow: hidden;
}
.shop_top_title div p {
  margin: 0;
}

/**导航*/
.nav_top_box {
  width: 100%;
  height: 26px;
  background: #66756b;
  line-height: 26px;
  margin: 0 auto;
  font-size: 14px;
}
.nav_top_box .nav_top_cont {
  width: 1200px;
  height: 26px;
  margin: 0 auto;
  /**左边*/
  /**右边*/
}
.nav_top_box .nav_top_cont .nav_top_left {
  float: left;
  position: relative;
}
.nav_top_box .nav_top_cont .nav_top_left > a {
  float: left;
  padding: 0 12px;
  margin-right: 15px;
  height: 26px;
  color: #fff;
}
.nav_top_box .nav_top_cont .nav_top_left > a:hover {
  background: #394D40;
}
.nav_top_box .nav_top_cont .nav_top_left .nav_main_f {
  border-left: 1px solid #66756b;
  border-right: 1px solid #66756b;
  background-color: #66756b;
  color: #fff;
  cursor: pointer;
  float: left;
  margin-right: 30px;
}
.nav_top_box .nav_top_cont .nav_top_left .nav_main_f:hover div {
  display: block;
}
.nav_top_box .nav_top_cont .nav_top_right {
  float: right;
  position: relative;
}
.nav_top_box .nav_top_cont .nav_top_right a {
  position: relative;
  float: right;
  color: #fff;
  height: 26px;
  padding: 0 12px;
  margin-left: 15px;
  color: #fff;
  z-index: 100;
}
.nav_top_box .nav_top_cont .nav_top_right a:hover {
  background: #394D40;
}
.nav_top_box .nav_top_cont .nav_top_right a:hover div {
  display: block;
}
.nav_top_box .nav_top_cont .nav_top_right a div {
  display: none;
  width: 125px;
  height: 125px;
  position: absolute;
  top: 26px;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.nav_top_box .nav_top_cont .nav_top_right a div img {
  width: 125px;
  height: 125px;
}

/**二级*/
.nav_main_s {
  position: absolute;
  left: 0;
  top: 26px;
  max-height: 586px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-top: none;
  cursor: default;
  z-index: 1000;
  display: none;
}
.nav_main_s .nav_main_s_cont {
  width: 115px;
  margin: 0 50px;
}
.nav_main_s .nav_main_s_cont .nav_sec_title {
  height: 61px;
}
.nav_main_s .nav_main_s_cont .nav_sec_title .nav_title_cont {
  width: 96px;
  float: left;
  height: 50px;
  margin: 0 50px 10px 0;
  line-height: 50px;
  font-size: 14px;
  text-align: left;
  color: #333;
  border-bottom: solid 1px #ccc;
}
.nav_main_s .nav_main_s_cont .nav_sec_cont {
  overflow: auto;
  max-height: 424px;
  border-bottom: 10px solid #fff;
  overflow: auto;
  padding-bottom: 10px;
}
.nav_main_s .nav_main_s_cont .nav_sec_cont .sec_cont {
  width: 58px;
  float: left;
  margin-right: 15px;
  font-size: 12px;
}
.nav_main_s .nav_main_s_cont .nav_sec_cont .sec_cont h3 {
  font-size: 12px;
  color: #333;
}
.nav_main_s .nav_main_s_cont .nav_sec_cont .sec_cont a {
  display: block;
  padding: 0;
  color: #666;
  line-height: 25px;
}

/**主体*/
.main_content {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.main_content .main_top {
  margin: 30px 0 30px 0;
  /**左边*/
}
.main_content .main_top .major {
  width: 1000px;
  float: left;
  position: relative;
  /**左边图片*/
  /**文字部分*/
}
.main_content .main_top .major .marjor_img {
  width: 300px;
  height: 300px;
  float: left;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
  /**隐藏图*/
}
.main_content .main_top .major .marjor_img ul {
  position: relative;
  width: 300px;
  height: 300px;
  line-height: 297px;
  border: 1px solid #e5e5e5;
  text-align: center;
  overflow: hidden;
  cursor: move;
}
.main_content .main_top .major .marjor_img ul li {
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.main_content .main_top .major .marjor_img ul li img {
  width: 100%;
  height: 100%;
}
.main_content .main_top .major .marjor_img ul .xiaotudian {
  display: none;
  width: 100px;
  height: 100px;
  background: url(../image/img_des/T12pdtXaldXXXXXXXX-2-2.png);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}
.main_content .main_top .major .marjor_img .marjor_img_hide {
  display: none;
  position: absolute;
  left: 320px;
  top: 0;
  border: 1px solid #ccc;
  width: 300px;
  height: 300px;
  background-color: red;
  overflow: hidden;
}
.main_content .main_top .major .marjor_img .marjor_img_hide a {
  display: block;
  position: relative;
}
.main_content .main_top .major .marjor_img .marjor_img_hide a img {
  position: absolute;
  top: 0;
  left: 0;
}
.main_content .main_top .major .marjor_cont {
  width: 620px;
  margin-left: 320px;
  /**基本信息*/
}
.main_content .main_top .major .marjor_cont .marjor_info {
  /**详细介绍*/
  /**价格介绍*/
  /**选项卡*/
}
.main_content .main_top .major .marjor_cont .marjor_info .info_ti {
  position: relative;
  overflow: hidden;
  margin-top: -5px;
}
.main_content .main_top .major .marjor_cont .marjor_info .info_ind {
  padding: 0 2px;
  font-size: 14px;
  line-height: 22px;
  color: #a5806d;
}
.main_content .main_top .major .marjor_cont .marjor_info .info_detail {
  overflow: hidden;
  margin-top: 6px;
  padding: 6px 0 6px 9px;
  font-size: 12px;
  border: 1px solid #e5e5e5;
}
.main_content .main_top .major .marjor_cont .marjor_info .info_detail ul li {
  width: 200px;
  text-align: left;
  float: left;
  margin: 3px 0;
}
.main_content .main_top .major .marjor_cont .marjor_info .price_intro {
  background: #f3f0e9;
  padding: 7px 0;
  color: #333;
  position: relative;
  margin: 5px 0;
}
.main_content .main_top .major .marjor_cont .marjor_info .price_intro .price_intro_img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
}
.main_content .main_top .major .marjor_cont .marjor_info .price_intro .price_intro_img img {
  width: 100%;
  height: 100%;
}
.main_content .main_top .major .marjor_cont .marjor_info .price_intro p {
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  color: #333;
  text-indent: 1em;
}
.main_content .main_top .major .marjor_cont .marjor_info .price_intro p span:first-child {
  margin-right: 10px;
  color: #999;
}
.main_content .main_top .major .marjor_cont .marjor_info .price_intro .price_detai1 span:last-child {
  margin-right: 5px;
  font-size: 18px;
  color: #8c222c;
  font-weight: bolder;
}
.main_content .main_top .major .marjor_cont .marjor_info .price_intro .price_detai1 span i {
  font-style: normal;
  margin-left: 3px;
  padding: 0 5px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  background: #bf7f5f;
  color: #fff;
}
.main_content .main_top .major .marjor_cont .marjor_info .price_intro .price_detai3 span {
  color: #999;
}
.main_content .main_top .major .marjor_cont .marjor_info .price_intro .price_detai3 i {
  font-style: normal;
  font-size: 12px;
  color: #bf7f5f;
  margin: 0 5px;
  font-weight: bolder;
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi {
  margin-top: 8px;
  padding-bottom: 2px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 12px;
  position: relative;
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi .sz_priv {
  cursor: pointer;
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi .sz_city {
  cursor: pointer;
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi a {
  color: #333;
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi .hide_tap {
  position: absolute;
  width: 250px;
  height: 50px;
  border: 1px solid #ccc;
  top: 19px;
  left: 40px;
  display: none;
  /**内容*/
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi .hide_tap .hide_tap_cont p {
  cursor: pointer;
  text-indent: 1em;
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi .hide_tap .hide_tap_cont .hide_tap_priv {
  margin: 5px 0;
  display: none;
  text-indent: 2em;
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi .hide_tap .hide_tap_cont .hide_tap_c {
  display: block;
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi .hide_tap .hide_tap_cont .hide_tap_c .tap_city_cont {
  margin: 5px 0;
  display: none;
}
.main_content .main_top .major .marjor_cont .marjor_info .songzhi .hide_tap .hide_tap_cont .hide_tap_c .tap_city_cont a {
  line-height: 20px;
}

.gouwu {
  margin: 5px 0;
}
.gouwu dl {
  height: 26px;
  font-size: 12px;
  color: #999;
  overflow: hidden;
}
.gouwu dl dt {
  line-height: 26px;
  padding: 0 19px 0 10px;
  float: left;
  color: #999;
  vertical-align: middle;
}
.gouwu dl dd {
  float: left;
  overflow: hidden;
}
.gouwu dl dd .gouwu_shuliang {
  float: left;
  height: 26px;
  color: #333;
}
.gouwu dl dd .gouwu_shuliang .gouwu_1 {
  float: left;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}
.gouwu dl dd .gouwu_shuliang .gouwu_1 i {
  color: #666;
}
.gouwu dl dd .gouwu_shuliang input {
  float: left;
  width: 44px;
  height: 24px;
  line-height: 26px;
  font-size: 12px;
  text-align: center;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.gouwu dl dd .gouwu_shuliang .gouwu_3 {
  float: left;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}
.gouwu dl dd .gouwu_shuliang .gouwu_3 i {
  color: #666;
}
.gouwu dl dd .jishu {
  float: left;
  line-height: 26px;
  margin-left: 10px;
  box-sizing: border-box;
}
.gouwu dl dd .jishu i {
  font-style: normal;
}

/**添加购物车*/
.buy-group {
  margin-top: 15px;
  position: relative;
  z-index: 1000;
  color: #a9987f;
  font-size: 14px;
}
.buy-group .buy-group-left {
  float: left;
}
.buy-group .buy-group-left div {
  width: 150px;
  height: 40px;
  border: 1px solid #8c222c;
  float: left;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 2px;
}
.buy-group .buy-group-left .buy-left_1 a {
  color: #8c222c;
}
.buy-group .buy-group-left .buy-left_2 {
  background: #8c222c;
  margin-left: 20px;
  position: relative;
  z-index: 100;
}
.buy-group .buy-group-left .buy-left_2 a {
  color: #fff;
}
.buy-group .buy-group-left .buy-left_2 a .paowuxian {
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  display: none;
  z-index: 99999999;
  top: 40%;
}
.buy-group .buy-group-left .buy-left_2 a .paowuxian img {
  width: 100% !important;
  height: 100% !important;
}
.buy-group .buy-group-right {
  float: right;
}
.buy-group .buy-group-right .shou_cang {
  float: left;
  line-height: 40px;
  padding: 0 15px;
  color: #999;
}
.buy-group .buy-group-right .fenxiang {
  float: left;
  line-height: 40px;
  display: block;
  position: relative;
  cursor: pointer;
}
.buy-group .buy-group-right .fenxiang:hover .buy-group-hide {
  display: block;
  top: -40px;
  opacity: 1;
  transition: .4s;
}
.buy-group .buy-group-right .buy-group-hide {
  font-size: 16px;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: -40px;
  width: 110px;
  height: 40px;
  padding: 5px 5px;
  border: 1px solid #E5E5E5;
  background: #fff;
  border-radius: 5px;
  transition: .4s;
}
.buy-group .buy-group-right .buy-group-hide a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  font-size: 30px;
  padding: 6px;
  cursor: pointer;
}
.buy-group .buy-group-right .buy-group-hide .iconfont {
  width: 20px;
  height: 20px;
}

/**右边*/
.store_func {
  width: 200px;
  float: right;
  overflow: hidden;
  z-index: 100;
  position: relative;
}
.store_func .store_ins {
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  /**头部*/
  /**书店*/
  /**店铺等级*/
}
.store_func .store_ins .store_ins_t {
  border-top: 2px solid #97A69C;
  overflow: hidden;
}
.store_func .store_ins .store_ins_t .store_content {
  position: relative;
  margin: 10px 12px 0;
  padding-bottom: 10px;
  position: relative;
}
.store_func .store_ins .store_ins_t .store_content .store_cross_line {
  margin-top: 22px;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.store_func .store_ins .store_ins_t .store_content .store_img {
  position: absolute;
  top: -12px;
  left: 50%;
  padding: 0 4px;
  margin-left: -44px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  color: #a5806d;
  background-color: #fff;
}
.store_func .store_ins .store_ins_t .store_content .store_img img {
  width: 81px;
  height: 24px;
}
.store_func .store_ins .store_content {
  font-size: 14px;
  color: #999;
  line-height: 20px;
}
.store_func .store_ins .store_content .store_title {
  color: #333;
}
.store_func .store_ins .store_content .icon-xingxing {
  color: #ffbf44;
}
.store_func .store_ins .store_dianpu {
  font-size: 12px;
}
.store_func .store_ins .store_dianpu div {
  padding: 10px 12px 15px;
  background: #fafafa;
}
.store_func .store_ins .store_dianpu div p {
  display: block;
  color: #333;
  padding-right: 10px;
  line-height: 20px;
}
.store_func .store_ins .store_dianpu div p span {
  font-size: 12px;
  color: #a25c39;
  padding: 0 4px;
}
.store_func .store_ins .store_dianpu div .store_dianpu_t {
  color: #ccc;
}

/**联系店主*/
.lianxidianzhu > p {
  margin-bottom: 5px;
  color: #999;
}
.lianxidianzhu > p a {
  padding: 0 10px;
}
.lianxidianzhu > p span {
  padding: 0 10px;
}
.lianxidianzhu div {
  padding-bottom: 5px;
}
.lianxidianzhu div a {
  display: inline-block;
  width: 70px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
  background-color: #f6f7f6;
  border: 1px solid #e5e5e5;
  color: #333;
  cursor: pointer;
  margin-right: 10px;
}

/*
*购物车*/
.guding {
  position: fixed;
  right: 10px;
  top: 50%;
  border: 1px solid #ccc;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
}
.guding a {
  color: #333;
}
.guding a i {
  font-size: 20px;
}
.guding span {
  display: none;
  font-size: 8px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 50%;
  background: #f40;
  position: absolute;
  top: -5px;
  left: 24px;
}

/**下部分*/
.main_bottom {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  /**左边*/
  /**右边*/
}
.main_bottom .main_bot_lf {
  float: left;
  width: 180px;
}
.main_bottom .main_bot_rh {
  width: 1020px;
  float: right;
}

/**头部*/
.bot_left_sear {
  z-index: 100000;
  width: 180px;
}
.bot_left_sear div {
  position: relative;
  padding: 10px 10px 10px 9px;
  height: 30px;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
}
.bot_left_sear div input {
  width: 135px;
  height: 24px;
  padding: 4px 10px;
  line-height: 14px;
  font-size: 12px;
  border: none;
}
.bot_left_sear div i {
  position: absolute;
  right: 20px;
  top: 20px;
}

/**左边内容*/
.bot_left_cont {
  font-size: 12px;
  color: #333;
}
.bot_left_cont .left_cont_title {
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  font-size: 14px;
  border-top: 1px solid #86998d;
  background: #f2f7f5;
  color: #666;
}
.bot_left_cont .left_fenlei {
  padding: 8px 10px 0;
  font-size: 12px;
  color: #333;
}
.bot_left_cont p {
  margin: 10px 0;
  font-size: 12px;
  color: #333;
  font-weight: 700;
}
.bot_left_cont ul {
  padding-left: 10px;
}
.bot_left_cont ul li {
  font-size: 12px;
  color: #333;
  margin-top: 5px;
}
.bot_left_cont ul li a {
  color: #333;
  cursor: default;
}
.bot_left_cont ul li a:hover {
  color: #8c222c;
}

/**右边内容*/
.main_bot_rh .main_bot_rh_t {
  width: 820px;
  padding-right: 200px;
  height: 50px;
  border: 1px solid #ccc;
  background: #fafafa;
  overflow: hidden;
}
.main_bot_rh .main_bot_rh_t ul li {
  float: left;
  height: 49px;
  line-height: 50px;
  border-right: 1px solid #ccc;
  text-align: center;
  border-bottom: 1px solid #fff;
  width: 180px;
  border-top: 1px solid transparent;
}
.main_bot_rh .main_bot_rh_t ul li a {
  color: #666;
}
.main_bot_rh .main_bot_rh_t ul .main_bot_t3 {
  display: none;
  float: right;
  background: #8c222c;
}
.main_bot_rh .main_bot_rh_t ul .main_bot_t3 a {
  color: #FFF;
}
.main_bot_rh .main_bot_rh_t ul .main_bot_t1 {
  border-top: 1px solid #333;
}

/**内容部分*/
.main_bot_rh_cont {
  padding-top: 5px;
  position: relative;
  min-height: 50px;
  width: 820px;
  padding-bottom: 25px;
  padding-left: 40px;
  background-color: #fff;
  z-index: 100;
}
.main_bot_rh_cont .rh_cont_pic {
  font-size: 12px;
}
.main_bot_rh_cont .rh_cont_pic p {
  margin: 8px 0;
}

/**评价*/
.rh_cont_comments {
  display: none;
}

.rh_cont_title ul {
  background-color: #f2f6f5;
  height: 30px;
  border: 1px solid #ccc;
}
.rh_cont_title ul li {
  float: left;
  line-height: 30px;
  width: 100px;
  cursor: pointer;
  padding: 0 10px;
}
.rh_cont_title ul li:first-child i {
  color: black;
  background-color: red;
}
.rh_cont_title ul li div {
  float: left;
  padding: 0 5px;
}
.rh_cont_title ul li div i {
  border-radius: 50%;
}

/***/
.rh_cont_cont {
  width: 820px;
}
.rh_cont_cont div {
  border: 1px solid #eee;
  overflow: hidden;
  font-size: 14px;
}
.rh_cont_cont div ul {
  float: left;
  height: 60px;
}
.rh_cont_cont div ul:nth-child(2) {
  margin-left: 50px;
}
.rh_cont_cont div ul:nth-child(1) {
  margin-left: 10px;
}
.rh_cont_cont div ul li {
  line-height: 30px;
}
.rh_cont_cont div ul:first-child {
  width: 200px;
}
.rh_cont_cont div ul:first-child li {
  float: left;
}
.rh_cont_cont div ul:first-child li:first-child {
  width: 180px;
}
.rh_cont_cont div ul:last-child {
  float: right;
  margin-right: 10px;
}
.rh_cont_cont div ul:last-child li {
  line-height: 60px;
}

/**底部*/
footer {
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
}
footer .footer {
  width: 1200px;
  height: 20px;
  margin: 0 auto;
  padding: 10px 0 20px;
  border-top: 1px solid #e5e5e5;
}
footer .footer P {
  color: #999;
}
footer .footer a {
  color: #999;
}
footer .footer .footer_l {
  float: left;
}
footer .footer .footer_r {
  float: right;
}
footer .footer .footer_r a {
  margin-left: 5px;
}
footer .footer .footer_r a:hover {
  color: #333;
}

/*# sourceMappingURL=des.css.map */
