@charset "UTF-8";
body {
  background-color: #f7f7f6;
}

/* 
*头部布局
 */
header {
  width: 100%;
  height: 78px;
  border-bottom: 1px solid #ccc;
}

.head {
  width: 980px;
  margin: 0 auto;
}
.head .index_img {
  width: 206px;
  height: 35px;
  cursor: pointer;
  float: left;
  margin-top: 20px;
}
.head .index_img img {
  width: 206px;
  height: 35px;
}
.head .suggest {
  float: right;
  font-size: 12px;
  color: #bbb;
  margin-top: 56px;
}
.head .suggest:hover {
  color: #8c222c;
}

/*
*头部结束 开始主体部分
*/
main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
main:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

/*
    *注册页面
    */
.main_regist {
  padding-left: 150px;
  padding-top: 30px;
  display: none;
}
.main_regist h3 {
  font-size: 30px;
  font-weight: 500;
  color: #666;
}
.main_regist .info_zhuce {
  width: 300px;
  /*
  *空格
  */
}
.main_regist .info_zhuce .font_14 {
  width: 300px;
  margin-top: 40px;
  font-size: 14px;
  color: red;
  display: none;
}

.font_15 {
  width: 200px;
  font-size: 14px;
  color: red;
  display: none;
  position: absolute;
  top: 150px;
}

/*
*表格部分
*/
#register {
  position: relative;
}
#register .regist {
  margin-top: 10px;
}
#register .regist li {
  background: red;
  position: relative;
  height: 38px;
  /*
  *框格式
  */
}
#register .regist li input {
  width: 262px;
  height: 18px;
  line-height: 18px;
  padding: 10px 18px;
  font-size: 14px;
  outline: none;
}
#register .regist li input::-webkit-input-placeholder {
  color: #dedede;
}
#register .regist li input::-moz-placeholder {
  color: #dedede;
}
#register .regist li input:-moz-placeholder {
  color: #dedede;
}
#register .regist li input:-ms-input-placeholder {
  color: #dedede;
}

/*
         *验证码
         */
.sendInsz {
  display: block;
  position: absolute;
  right: 20px;
  top: 7px;
  background: #f3f0e9;
  color: #666;
  font-size: 12px;
  width: 75px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

/*
*中间间隔线
*/
.border_bot {
  height: 1px;
  width: 298px;
  background-color: #e5e5e5;
}

/*
 * 小眼睛
 */
.yanjing {
  display: block;
  position: absolute;
  right: 20px;
  top: 13px;
  color: #999;
  width: 19px;
  height: 12px;
  font-size: 14px;
}

.yanjing1 {
  display: block;
  position: absolute;
  right: 20px;
  top: 13px;
  color: #999;
  width: 19px;
  height: 12px;
  font-size: 14px;
}

.yanjing2 {
  display: block;
  position: absolute;
  right: 20px;
  top: 13px;
  color: #999;
  width: 19px;
  height: 12px;
  font-size: 14px;
}

/*
    *错误信息框
    */
.pos_info {
  position: absolute;
  left: 310px;
  top: 0;
  line-height: 38px;
  white-space: nowrap;
  color: #D13333;
  display: none;
}
.pos_info span {
  font-size: 14px;
}

/*
*密码强度
*/
.pos_info_p {
  color: #666;
}

/*
*协议
*/
.xieyi {
  margin-top: 12px;
  font-size: 12px;
}
.xieyi input {
  width: 12px;
  height: 12px;
  background: #e6e6e6;
  border-radius: 2px;
  vertical-align: middle;
  margin-bottom: 2px;
}
.xieyi .xieyi_l {
  float: left;
  color: #999999;
}
.xieyi .xieyi_r {
  float: right;
}
.xieyi .xieyi_r a {
  color: #999999;
}
.xieyi:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

/*
*注册
*/
.m_t {
  width: 300px;
  height: 40px;
  margin-top: 35px;
}

#submit {
  display: block;
  width: 100%;
  background: #8c222c;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 10px;
  cursor: pointer;
  border: none;
}
#submit:hover {
  background-color: #7b111b;
}

/*
*登录
*/
.login_box {
  position: relative;
  width: 300px;
  padding-top: 75px;
  padding-left: 150px;
}
.login_box h3 {
  font-size: 30px;
  font-weight: 500;
  color: #666;
  margin-bottom: 30px;
  line-height: 40px;
}
.login_box .img_scan {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 43px;
  right: 0;
  cursor: pointer;
}

.wrap_300 {
  width: 300px;
}
.wrap_300 .youbiandianji {
  text-align: right;
}
.wrap_300 .yanzhengma {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #666;
}
.wrap_300 .yanzhengma:hover {
  color: #222;
}

#login ul {
  margin-top: 10px;
}
#login ul li {
  height: 39px;
  background-color: #fff;
  position: relative;
}
#login ul li input {
  width: 262px;
  height: 18px;
  line-height: 18px;
  padding: 10px 18px;
  font-size: 14px;
  outline: none;
}

/*
* 登录框
*/
.login_submit {
  margin-top: 35px;
}
.login_submit #login_in_sub {
  display: block;
  width: 100%;
  border: none;
  background: #8c222c;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 10px;
  cursor: pointer;
}

/*
* 空白部分
*/
.kongbai {
  width: 300px;
  height: 1px;
  margin-top: 30px;
  border-bottom: 1px solid #dcdcdc;
}

/*
*下面其他网站
*/
.other_web {
  height: 26px;
  line-height: 26px;
  margin-top: 10px;
  font-size: 12px;
}
.other_web a {
  color: #666;
  display: block;
  float: left;
}
.other_web .wecheat {
  margin-right: 34px;
  width: 108px;
  background: #77a877;
  color: #fff;
  text-align: center;
  border-radius: 3px;
}
.other_web .weibo {
  float: right;
}

/*
*手机号登录
*/
#login_ph {
  width: 300px;
  display: none;
}
#login_ph ul {
  margin-top: 10px;
  border: none;
}
#login_ph ul li {
  background: #fff;
  position: relative;
  height: 39px;
}
#login_ph ul li .sendInsy {
  display: block;
  position: absolute;
  right: 20px;
  top: 7px;
  background: #f3f0e9;
  color: #666;
  font-size: 12px;
  width: 75px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
#login_ph ul li input {
  width: 262px;
  height: 18px;
  line-height: 18px;
  padding: 10px 18px;
  font-size: 14px;
}

/*
*设置新密码
*/
.mk_pwd {
  font-size: 12px;
  height: 18px;
  margin-top: 10px;
}
.mk_pwd a {
  color: #333333;
}
.mk_pwd .icon-shuangxiajiantou {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

.login_ph_sub {
  margin-top: 35px;
}
.login_ph_sub #login_ph_sub {
  display: block;
  border: none;
  width: 100%;
  background: #8c222c;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 10px;
  cursor: pointer;
}

/*
*扫码登录
*/
.scan {
  display: block;
  width: 300px;
  padding-left: 150px;
  padding-top: 75px;
  position: relative;
}
.scan h3 {
  font-size: 30px;
  font-weight: 500;
  color: #666;
  line-height: 40px;
}
.scan .sao_de {
  font-size: 12px;
  line-height: 12px;
  color: #999999;
}
.scan .scan_img {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 43px;
  right: 0;
  cursor: pointer;
}
.scan .scan_content {
  width: 300px;
  height: 188px;
  margin: 46px 0 40px 0;
  text-align: center;
}
.scan .scan_content img {
  width: 160px;
  height: 160px;
  display: block;
  margin-left: 70px;
  margin-bottom: 10px;
}
.scan .scan_content span {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #666666;
}
.scan .scan_content span a {
  color: #9e100e;
}

/*
*手机验证码切换
*/
/*
    *右侧部分
    */
.right_box {
  position: absolute;
  top: 50px;
  left: 750px;
  background: #eee;
  width: 100%;
}
.right_box .info_box {
  padding: 7px 20px;
  line-height: 30px;
  font-size: 16px;
  color: #999;
}
.right_box .info_box .have_code {
  margin-right: 15px;
}
.right_box .info_box .to_login_in:hover {
  color: #8c222c;
}

.right_box_hide {
  display: none;
}

/*
*尾部
*/
footer {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
footer .footer {
  width: 980px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}
footer .footer .footer_left {
  color: #999999;
  float: left;
}
footer .footer .footer_right {
  float: right;
}
footer .footer .footer_right a {
  margin: 0 4px;
  color: #8999A9;
}

/*# sourceMappingURL=login_regist.css.map */
