/*
*主体背景图
*/
.bg_f7 {
    width: 100%;
    background: #f7f7f6;
}

bg_f7:after {
    height: 0;
    width: 100%;
    display: block;
    content: '.';
    clear: both;
}

/*
*主体部分
*/
main {
    width: 1200px;
    padding-bottom: 1px;
    height: 1623px;

    .main_left {
        float: left;
        width: 180px;
        height: 1589px;

    }

    .main_right {
        width: 1010px;
        height: 1623px;
        float: right;
        position: relative;
    }
}

.main_left_1 {
    width: 180px;
    height: auto;
    background: #f7f7f6;
    position: relative;

    .main_left_f {
        // box-sizing: border-box;
        background: #8c222c;
        width: 180px;
        height: 36px;

        p {
            padding: 0 19px;
            line-height: 34px;
            font-size: 16px;
            color: #ffffff;
            cursor: default;
        }
    }

    .left_conte {
        position: relative;
        display: block;
        font-size: 13px;
        height: 32px;
        background-color: #fff;
        cursor: pointer;

        a {
            color: #333;

            &:hover {
                color: #8c222c;
            }
        }

    }
}

/*
*每条的内容
*/
.left_conte {
    position: relative;
    display: block;
    padding: 0 19px;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    box-sizing: border-box;


    .left_conte_m {
        position: absolute;
        top: -1px;
        left: -1px;
        z-index: 5;
        width: 180px;
        height: 32px;
        line-height: 27px;
        padding-left: 18px;
        border: 1px solid transparent;
        border-right: 0;
        font-size: 0;
        box-sizing: border-box;

        .left_cont_w {
            display: inline-block;
            vertical-align: top;
            width: 140px;
            height: 29px;
            font-size: 13px;
            overflow: hidden;
        }

        ._jiantou {
            display: inline-block;
            vertical-align: top;
            height: 29px;
            font-size: 13px;
            color: #cfc8c4;
        }
    }

}

.after {
    content: '.';
    position: absolute;
    top: 0;
    right: -2px;
    z-index: 8;
    // display: none;
    width: 3px;
    height: 28px;
    background-color: #fff;
}

.detail_main {
    display: none;
}

/*
*定位
*/
.detail {
    display: none;
    position: absolute;
    top: 0;
    left: 180px;
    z-index: 4;
    width: 822px;
    height: 388px;
    padding: 30px 48px;
    border: 2px solid #8c222c;
    background-color: #fff;
    cursor: default;
}

.detiail_s {
    // display: block;
    top: 0;
    left: 180px;
    height: 196px;
}

.detiail_la {
    display: none;
    top: 0;
    left: 180px;
    height: 130px;
    padding: 15px 48px;

    .detail_item {
        margin-bottom: 20px;

        .detail_item_title {
            margin-bottom: 10px;
        }
    }
}


.detail_item {
    position: relative;
    margin-bottom: 37px;

    .detail_item_title {
        height: 20px;
        margin-bottom: 20px;
        line-height: 20px;
        font-size: 18px;
        color: #333;

        .iconfont {
            position: absolute;
            top: 0;
            left: -20px;
            width: 20px;
            height: 20px;
            text-align: center;
        }

        a {
            font-weight: 700px;
            color: #333;

            &:hover {
                color: #8c222c;
            }
        }
    }

    .detail_item_list {
        font-size: 12px;
        color: #ccc;

        p {
            margin: 6px 0;
            padding: 5px 0;
            height: 14px;
            line-height: 14px;
            text-align: justify;

            &:after {
                content: '';
                width: 100%;
                display: inline-block;
                overflow: hidden;
                height: 0;
            }

            a {
                display: inline-block;
                line-height: 14px;
                font-size: 12px;
                color: #333;

                &:hover {
                    color: #8c222c;
                }
            }

            span {
                display: inline-block;
                line-height: 14px;
                font-size: 12px;
            }
        }
    }
}

.main_left_2 {
    width: 100%;

    span {
        display: block;
        margin-top: 10px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            cursor: pointer;
        }

        .l_i_2 {
            position: absolute;
            top: 0;
            display: none;
        }

        .l_i_1 {
            height: 40px;
        }
    }
}

/*
*banner图
*/
.banner_box {
    width: 1010px;
    height: 270px;
    // overflow:hidden;
    position: relative;

    .banner_box_bg {
        width: 100%;
        height: 100%;

        li {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: #fff;

            img {
                width: 1010px;
                height: 270px;
            }
        }
    }
}

.banner_w {
    position: absolute;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 26px;

    .banner_item {
        position: relative;
        float: right;
        width: 100%;
        height: 100%;
        text-align: center;

        ul {
            position: absolute;
            right: 20px;
            bottom: 11px;
            width: 160px;
            height: 247px;

            li {
                opacity: 1;
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-align: left;
                color: #666;
                cursor: pointer;
                font-size: 12px;
                margin-bottom: 1px;
                vertical-align: middle;
                background: rgba(255, 255, 255, 0.5);

                a {
                    font-size: 12px;
                    display: block;
                    height: 100%;
                    color: #666;
                    padding-left: 14px;
                    padding-right: 14px;

                }

            }

            .active {
                background: rgba(255, 255, 255, 0.7);

                a {
                    color: #505050;
                }
            }
        }
    }
}

// 广告部分
.pm_box {
    a {
        margin-bottom: 2px;
    }

    width: 1010px;
    height: 138px;
    padding-top: 10px;

    .pm_box_top {
        width: 100%;
        text-align: justify;

        a {
            float: left;
            width: 504px;
            height: 40px;

            &:first-child {
                margin-right: 2px;
            }

            &:last-child {
                margin-left: 2px;
            }

            img {

                width: 100%;
                margin: 0;

            }
        }
    }
}

/*
*好书推荐
*/
.goods_list {
    width: 1000px;

    .goods_list_title {
        width: 100%;
        height: 22px;
        margin-bottom: 25px;
        border-bottom: 1px solid #ccc;
        margin-top: 20px;
        padding-bottom: 34px;

        span {
            font-size: 18px;
            top: 12px;
            left: 20px;
            color: #333;
            font-weight: 700;
        }

        i {
            font-size: 14px;
            color: #999;
        }

        a {
            font-size: 12px;
            color: #0057a0;
        }
    }

    ul {
        width: 100%;
        height: 550px;
        padding-left: 0;

        li {
            position: relative;
            float: left;
            width: 140px;
            height: 234px;
            margin-bottom: 40px;
            margin-right: 30px;

            &:nth-child(6) {
                margin-right: 0px;
            }

            &:nth-child(12) {
                margin-right: 0px;
            }

            &>div {
                display: block;
                position: relative;
                height: 100%;

                .good_bgc {
                    text-align: center;
                    display: block;
                    width: 140px;
                    height: 140px;
                    line-height: 140px;
                    margin-bottom: 4px;
                    overflow: visible;
                    font-size: 0;
                    cursor: pointer;

                    img {
                        width: 96px;
                        height: 140px;
                    }
                }

                a {
                    display: block;
                    width: 98px;
                    font-size: 12px;
                    color: #333;
                    word-break: break-all;
                    max-height: 40px;
                    line-height: 20px;
                    overflow: hidden;
                    margin: 0 auto;
                }

                .book_author {
                    width: 98px;
                    height: 22px;
                    text-align: left;
                    overflow: hidden;
                    margin: 0 auto;
                    color: #999;
                    font-size: 12px;
                }

                .pro_price {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    font-size: 16px;
                    color: #bf7f5f;

                    div {
                        width: 98px;
                        margin: 0 auto;

                        i {
                            font-size: 14px;
                            color: #bf7f5f;
                            float: left;
                            font-style: normal;
                            margin-right: 3px;
                        }

                        span {
                            float: left;
                            color: #bbb;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

/*
*好书广场
*/
.newSquare_box {
    width: 1000px;
    min-height: 511px;
    margin-bottom: 40px;

    .newSquare_box_title {
        width: 100%;
        height: 22px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 34px;

        span {
            font-size: 18px;
            top: 12px;
            left: 20px;
            color: #333;
            font-weight: 700;
        }

        i {
            font-size: 14px;
            color: #999;
            font-weight: 400;
        }

        a {
            font-size: 12px;
            color: #0057a0;
        }
    }
}

/*
*好书广场
*/
.newSquare_box_con {
    display: block;
    // text-align:center;
    width: 100%;

    &>span {
        display: inline-block;
        vertical-align: top;
        width: 322px;
        height: 434px;
        border: 1px solid #e5e5e5;
        background: #fff;
        margin-right: 14px;

        &:last-child {
            margin-right: 0;
        }

        .item_img {
            position: relative;
            width: 100%;
            height: 240px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .item-con {
            width: 278px;
            margin: 0 auto;

            .item-con-title {
                padding-top: 12px;
                height: 22px;
                overflow: hidden;

                a {
                    color: #333;
                    font-size: 14px;
                }
            }

            .des {
                font-size: 12px;
                color: #666;
                margin-top: 6px;
                height: 36px;
                line-height: 18px;
                overflow: hidden;
            }

            .tag {
                width: 100%;
                height: 36px;
                margin-top: 10px;
                border-bottom: 1px solid #e5e5e5;
                overflow: hidden;

                span {
                    position: relative;
                    float: left;
                    font-size: 12px;
                    line-height: 14px;
                    height: 18px;
                    border: 1px solid #dfc49b;
                    padding: 5px 6px;
                    color: #C28F42;
                    margin-right: 9px;
                    margin-bottom: 12px;
                    border-bottom-right-radius: 10px;
                }
            }

            /*
                *底部
                */
            .item-bottom {
                width: 100%;

                .item-bottom-zuoyou {
                    height: 30px;
                    line-height: 30px;
                    font-size: 18px;
                    color: #8c222c;
                    margin-top: 20px;
                    float: left;

                    .jiage {
                        line-height: 30px;
                        font-size: 16px;
                        color: #8c222c;
                        margin-left: 4px;
                    }

                    .by {
                        font-size: 12px;
                        margin-left: 4px;
                        color: #8c222c;
                    }
                }



                .qianggou {
                    float: right;

                    .btn {
                        display: block;
                        width: 112px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        background: #8c222c;
                        font-size: 14px;
                        color: #fff;
                        margin-top: 20px;
                        border-radius: 2px;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}

.three-column-box {
    width: 1200px;
    margin: 0 auto;

    .three-column-con {
        text-align: justify;
        width: 1200px;
        padding-bottom: 40px;
        height: 166px;

        a {
            width: 390px;
            display: inline-block;
            margin-right: 15px;
        }

        img {
            width: 100%;
        }
    }
}

/*
*九图
*/
.index_shuji {
    box-sizing: border-box;
    height: 675px;
    width: 100%;

    .ancient_box {
        padding-top: 30px;
        padding-bottom: 20px;
        width: 1200px;
        margin: 0 auto;

        .floor_big {
            height: 44px;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
            margin-bottom: 25px;

            ul {
                display: inline-block;
                word-break: break-all;
                white-space: normal;
                width: 100%;

                .floor_title_name {
                    line-height: 30px;
                    font-size: 30px;
                    color: #333;
                    display: inline-block;
                    margin-right: 20px;
                    padding-bottom: 14px;
                    font-weight: 700;
                }

                li {
                    display: inline-block;

                    a {
                        display: inline-block;
                        height: 40px;
                        line-height: 45px;
                        padding: 0 5px;
                        font-size: 14px;
                        color: #365899;
                    }
                }
            }
        }

    }
}

/*
*主体部分
*/
.ancient_left {
    width: 840px;
    float: left;

    .left_main_list {
        float: left;

        .left_main_title {
            font-size: 18px;
            height: 20px;
            color: #ccc;
            margin-bottom: 25px;

            span {
                color: #333;
                font-weight: 700;
            }
        }

        .left_main_cont {
            word-break: break-all;
            text-align: justify;
            overflow: hidden;
            height: 509px;

            .shop_item {
                position: relative;
                display: inline-block;
                width: 140px;
                height: 233px;
                font-size: 0;
                margin-right: 20px;
                margin-bottom: 40px;
                overflow: hidden;

                .book_list_img {
                    width: 140px;
                    height: 140px;
                    text-align: center;
                    line-height: 140px;
                    margin-bottom: 4px;
                    display: block;

                    img {
                        display: inline-block;
                        max-width: 100%;
                        max-height: 100%;
                        vertical-align: middle;
                    }
                }

                .book_list_pro {
                    display: block;
                    width: 100%;
                    float: left;
                    margin: 0 auto;
                    font-size: 12px;
                    color: #333;
                    max-height: 40px;
                    line-height: 20px;
                    word-break: break-all;
                    overflow: hidden;
                }

                .book_list_time {
                    height: 22px;
                    overflow: hidden;
                    font-size: 12px;
                    color: #999;
                }

                .pro_price {
                    left: 0;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    height: 20px;
                    line-height: 20px;
                    margin: 4px auto 0;
                    text-align: left;

                    .pro_price_re_br {
                        float: left;
                        list-style: none;
                        font-size: 16px;
                        color: #bf7f5f;
                        font-style: normal;
                    }

                }
            }
        }
    }
}

/*
*右边
*/
.ancient_right {
    float: left;
    width: 359px;

    .ancient_right_cont {
        width: 100%;

        .list_main_title {
            font-size: 18px;
            height: 20px;
            color: #ccc;
            margin-bottom: 20px;
            padding-left: 20px;

            span {
                color: #333;
                font-weight: 700;
            }
        }

        ul {
            margin-top: 15px;
            border-left: 1px solid #e5e5e5;
            padding-left: 20px;
            height: 494px;
            overflow: hidden;

            li {
                height: 65px;

                .f_left {
                    float: left;

                    span {
                        display: block;
                        float: left;
                        width: 5px;
                        height: 5px;
                        line-height: 14px;
                        margin-right: 10px;
                        margin-top: 6px;
                        background-color: #c97;
                    }
                }

                .text_box {
                    height: 24px;
                    overflow: hidden;

                    .list_name {
                        display: inline-block;
                        font-size: 14px;
                        color: #333;
                        width: 100%;
                        position: relative;
                        top: -4px;
                        height: 22px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .list_rem_intro {
                    font-size: 12px;
                    color: #999;
                    height: 15px;
                    line-height: 15px;
                    overflow: hidden;
                    margin-left: 15px;
                }

                .list_shop_line {
                    width: 100%;
                    height: 1px;
                    border-top: 1px solid #e5e5e5;
                    margin-top: 12px;
                }
            }
        }
    }
}

.main_left_3 {
    display: block;
    width: 100%;
    font-size: 15px;
    color: #333;
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    padding: 6px 0;
    margin-top: 10px;
    background: #f8f8f8;

    .left_3_f {
        display: block;
        color: #333;

        &:hover {
            color: #8c222c;
        }
    }

    .left_3_s {
        display: block;
        font-size: 12px;
        text-align: right;
        color: #ccc;
    }
}

.jiazai {
    width: 100%;
    height: 300px;
    background: url(../image/img_main/1.gif) no-repeat center center;
}
/*
*合作公司
*/
.pm_company{
    width: 1200px;
    margin:0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    .pm_company_t{
        width: 100%;
        height: 22px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 34px;
        span{
            font-size: 18px;
            top: 12px;
            left: 20px;
            color: #333;
            font-weight: 700; 
        }
        i{
            font-size: 14px;
            color: #999;
            font-weight: 400;
        }
        a{
            font-size: 12px;
            color: #0057a0;
        }
    }
    .pm_company_cont{
        width: 100%;
        text-align: justify;
        margin-bottom: 50px;
        ul{
            display: block;
            width: 100%;
            li{
                // display: inline;
                float: left;
                width: 200px;
                height: 30px;
                line-height: 30px;
                margin-bottom: 20px;
                .list_first{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    color: #aa987d;
                    background: #f3f0e9;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}

/*
*尾部
*/
footer{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 70px;
    margin-top: 70px;
    color: #999;
    background-color: #fff;
    overflow: hidden;
    .footer_wrap{
        width: 1200px;
        height: 70px;
        margin: 0 auto;
        padding: 10px 0 20px;
        border-top: 1px solid #e5e5e5;
        .copyright_box{
            float: left;
        }
        .link_box{
            float: right;
            a{
                float:left;
                color: #999;
                margin-left: 13px;
                &:hover{
                    color:#333;
                }
            }
        }
    }
    .licen_box{
        clear: both;
        a{
            color:#999;
        }
        .text_space{
            margin:0 5px;
        }
    }

    div{
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }
}
/*
*置顶
*/
.zhiding{
    display: none;
    position: fixed;
    top: 60%;
    right: 5px;
    width: 35px;
    height: 35px;
    background:#dedede;
    border: 1px solid #cccccc;
    div{
        width: 100%;
        height: 100%;
        &:hover{
            background: #fff;
        }
        span{
            font-size: 25px;
            line-height: 35px;
            padding-left: 5px;
            width: 100%;
            height: 100%;
            color: #fff;
            cursor: pointer;
            &:hover{
                color:#000;

            }
        }
    }
}